/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 5px;
  padding: 0;
}

/* Container Styles */
.quiz-container {
  border: 3px solid rgb(214, 214, 214);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(243, 241, 241);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-completed {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: rgb(208, 208, 208);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading Styles */
.quiz-completed-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.quiz-score {
  font-size: 1.25rem;
  margin-top: 10px;
}

.question-number {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
}

.question-text {
  font-size: 2.25rem;
  font-weight: 500;
  color: #555;
  margin: 20px 5px;
  text-align: left;
}

/* Option Button Styles */
.options-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.option-btn {
  padding: 14px 20px;
  margin: 5px;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 700;
  text-align: left;
  background-color: rgb(87, 87, 87);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-btn:hover {
  background-color: #cacaca;
  color: black;
}

/* Next Button Styles */
.next-btn,
.restart-btn {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.next-btn:hover,
.restart-btn:hover {
  background-color: #003366;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
  .quiz-container {
    padding: 16px;
  }
  .question-text {
    font-size: 2.0rem;
  }
  .next-btn,
.restart-btn {
  padding: 7px 18px;
  font-size: 1.03rem;
}
  
}
@media (max-width: 440px) {
  .question-text {
    font-size: 1.5rem;
  }
  .option-btn {
    margin: 1px;
    font-size: 16px;
    font-weight: 500;
  }
  .next-btn,
.restart-btn {
  padding: 7px 17px;
  font-size: 0.7rem;
  margin-top: 14px;
}
}
@media (max-width:300px) {
  .question-text {
    font-size: 1.2rem;
  }
  .option-btn {
    margin: 0.6px;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 20px;
  }
  .next-btn,
.restart-btn {
  padding: 7px 17px;
  font-size: 0.5rem;
  margin-top: 10px;
}
}